Makefile
Makefile.Debug
Makefile.Release
TryAcceleratedCpp.pro.user
debug/
.cproject
.project
.settings/
.metadata/
Default/
object_script.TryAcceleratedCpp.Debug
object_script.TryAcceleratedCpp.Release
TryAcceleratedCpp.pro.user.2.5pre1